<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Semestral</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="shortcut icon" href="/images/logo.png" />
</head>
<body class="admin-page">

<div class="base">

    <div class="heading">
        <span>PŘEHLED OBJEDNÁVEK</span>
    </div>
    <div class="block reservationsBlock">
        <div class="block reservationsForm" th:each="reservation : ${reservations}" >
            <div>
                <input type="text" th:value="${reservation.id}" readonly>
                <form onclick="this.submit()" action="/admin-main" method="post" style="display: initial">
                    <input type="text" th:value="${reservation.id}" style="display: none" name="reservationId">
                    <label id="rejectedL" class="checkmark">
                        <input id="rejected" type="radio" name="state" value="REJECTED" th:checked="${reservation.state} == REJECTED">
                    </label>

                    <label id="pendingL" class="checkmark">
                        <input id="pending" type="radio" name="state" value="PENDING" th:checked="${reservation.state} == PENDING">
                    </label>

                    <label id="acceptedL" class="checkmark">
                        <input id="accepted" type="radio" name="state" value="ACCEPTED" th:checked="${reservation.state} == ACCEPTED">
                    </label>
                </form>
                <form class="infoIconBlue" action="/admin-reservation-detail" method="get" onclick="this.submit()">
                    <input type="text" th:value="${reservation.id}" name="reservationId" style="display: none">
                    <div class="">i</div>
                </form>
            </div>
        </div>


    </div>

    <div class="navButtons">
        <form  th:action="@{/logout}" method="post">
            <button class="block smallButton" type="submit">Odhlásit se</button>
        </form>
        <a href="/available-rooms-filter">
            <div class="block smallButton" style="margin-left: 21px;">
                <span style="top: unset;">Nová Rezervace</span>
            </div>
        </a>
    </div>

</div>

</body>
</html>

