<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dostupné pokoje</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="shortcut icon" href="/images/logo.png" />
</head>
<body class="secondary-page">
    <div class="base">
        <div class="heading">
            <span>VYBERTE POKOJ</span>
        </div>
        <div th:if="${rooms.empty}">
            <span>Pro zadané období nejsou volné pokoje.</span>
        </div>
            <form class="block room" th:each="room : ${rooms}" onclick="this.submit()" action="/personal-information" method="get">
                <input type="text" th:value="${room.name}" style="display: none" name="roomName">
                <input type="text" th:value="${checkIn}" style="display: none" name="checkIn">
                <input type="text" th:value="${checkOut}" style="display: none" name="checkOut">
                <div class="roomImage" th:classappend="${room.name}">
                </div>
                <div class="roomData">
                    <div class="roomName">
                        <span th:text="${room.name}"></span>
                    </div>
                    <div class="roomPrice">
                        <span th:text="${room.price}"></span> Kč
                    </div>
                </div>
            </form>
        <div class="navButtons" style="bottom: unset">
            <a class="bottomNav" onclick="history.go(-1); return false;" href="#"><div class="block bigButton"><span>Předchozí</span></div></a>
        </div>
    </div>
</body>
</html>