<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shrnutí rezervací</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="shortcut icon" href="/images/logo.png" />
</head>
<body class="secondary-page">
    <div class="base">

        <div class="heading">
            <span>SHRNUTÍ</span>
        </div>

        <form action="/reservation-accepted" method="get">
            <div class="block clientForm">
                <input id="principal" type="text" th:value="${principal}" style="display: none" name="principal">
                <input type="text" th:value="${checkIn}" style="display: none" name="checkIn">
                <input type="text" th:value="${checkOut}" style="display: none" name="checkOut">
                <input type="text" th:value="${dateOfBirth}" style="display: none" name="dateOfBirth">
                <div class="inputRow thin">
                    <label>E-MAIL</label>
                    <input type="text" th:value="${email}" class="inputTextField" name="email"readonly>
                </div>
                <div class="inputRow thin">
                    <label>JMÉNO</label>
                    <input type="text" th:value="${name}" class="inputTextField" name="name" readonly>
                </div>
                <div class="inputRow thin">
                    <label>DATUM NAROZENÍ</label>
                    <input type="text"  th:value="${dateOfBirthFormatted}" class="inputTextField" name="dateOfBirthFormatted" readonly>
                </div>
                <div class="inputRow thin">
                    <label>TELEFON</label>
                    <input type="text" th:value="${number}" class="inputTextField" name="number" readonly>
                </div>
                <div class="inputRow thin">
                    <label>DATUM POBYTU</label>
                    <input type="text" th:value="${checkInFormatted + ' - ' + checkOutFormatted}" class="inputTextField" readonly>
                </div>
                <div class="block room" style="width: 221px; height: 83px; margin-top: 15px">
                    <input type="text" th:value="${room.name}" style="display: none" name="roomName">
                    <div class="roomImage" th:classappend="${room.name}" style="width: 103px; height: 69px">
                    </div>
                    <div class="roomData">
                        <div class="roomName">
                            <span th:text="${room.name}"></span>
                        </div>
                        <div class="roomPrice">
                            <span th:text="${room.price}"></span> Kč
                        </div>
                    </div>
                </div>
                <div class="inputRow thin checkBox" style="display: flex" onclick="showHide()">
                    <input id="checkBox" type="checkbox" name="createAccount">
                    <label for="checkBox">Vytvořit účet z vyplněných údajů</label>
                </div>
                <div class="inputRow thin passwordField" >
                    <label>HESLO</label>
                    <input type="password" class="inputTextField" name="password" >
                </div>
                <div class="inputRow thin" style="display: flex">
                    <div class="infoIconWhite">i</div>
                    <label style=" margin-left: -14px!important;">Uhrazení za ubytování probíhá až po skončení pobytu na recepci hotelu.</label>
                </div>
            </div>
            <div class="navButtons" style="bottom: unset">
                <a class="bottomNav" onclick="history.go(-1); return false;" href="#"><div class="block smallButton"><span>Předchozí</span></div></a>
                <button style="margin-left: auto;" class="block smallButton" type="submit">Rezervovat</button>
            </div>
        </form>
    </div>
</body>
</html>
<script>
    if (document.getElementById('principal').value === 'true'){
        document.getElementsByClassName('checkBox')[0].style.display = 'none';
    }

    function showHide() {
        var field = document.getElementsByClassName('passwordField')[0];
        if (document.getElementById('checkBox').checked === true){
            field.style.display ='block';
        } else {
            field.style.display ='none';
        }
    }
</script>